<div id="brochure">

   <app-navigation></app-navigation>

   <div id="pagination-arrows">
      <span class="material-icons clickable" (click)="toPrev()">
         navigate_before
      </span>

      <span class="material-icons">
         {{icon}}
      </span>

      <span class="material-icons clickable" (click)="toNext()">
         navigate_next
      </span>
   </div>

   <div class="container">
      <div [@routeAnimations]="prepareRoute(outlet)">
         <router-outlet #outlet="outlet"></router-outlet>
      </div>
   </div>


</div>