@import "../../../../assets/styles/variables.less";


@media @desktop {}

@media @mobile {}


#pagination-arrows {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   top: 60px;

   background-color: @color-green;

   .material-icons {
      font-size: 48px;
      color: @color-dark;
      margin: 0 36px;

      &:not(.clickable) {
         cursor: default;
         color: @color-blank;
      }

      &.clickable {
         cursor: pointer;
      }

   }
}