<div id="intro">

   <div id="blob-left">
      <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
         <path
            d="M38.6,-47.6C49.5,-36.9,57.5,-24.2,62.6,-9C67.8,6.3,70.2,24.1,63.7,38C57.2,51.9,41.6,61.8,27.4,60.7C13.1,59.7,0.1,47.6,-18.6,43.9C-37.3,40.2,-61.7,44.9,-72.8,36.7C-84,28.4,-81.9,7.2,-71.6,-5.9C-61.3,-19,-42.7,-23.9,-29.4,-34.1C-16.1,-44.3,-8,-59.9,2.9,-63.4C13.9,-66.9,27.7,-58.2,38.6,-47.6Z"
            transform="translate(100 100)" />
      </svg>
   </div>



   <div id="container">

      <div>
         <p id="hello-text">
            Hello! I'm Yan. <br>
            A full-stack <span> web developer </span>
         </p>
      </div>

      <div id="wrapper">
         <p id="skill-text">
            with backgrounds in
         </p>

         <ul id="skill-list">
            <li class="list-item">visual arts</li>
            <li class="list-item">architecture</li>
            <li class="list-item">urban design</li>
            <li class="list-item">data analysis</li>
         </ul>
      </div>
   </div>


   <div id="blob-right">
      <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
         <path
            d="M44.4,-50.9C56.8,-42.5,65.7,-27.8,65.9,-13.6C66,0.7,57.5,14.5,47.8,24C38,33.5,27,38.8,16.5,40.7C5.9,42.5,-4.2,40.9,-11.5,36.3C-18.9,31.6,-23.4,23.9,-25.9,16.4C-28.5,9,-29,1.9,-34.4,-12.7C-39.7,-27.3,-49.8,-49.4,-44.9,-59.1C-40,-68.7,-20,-66,-2,-63.7C16,-61.3,32,-59.2,44.4,-50.9Z"
            transform="translate(100 100)" />
      </svg>
   </div>
</div>