<div id="navigation">
   <ul>
      <li class="nav-item logo">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/cover'" routerLinkActive="active-link">
            <span class="material-icons">
               extension
            </span>
            <span class="link-text logo-text">
               browse programs
            </span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/cipher'" routerLinkActive="active-link">
            <span class="material-icons">
               gradient
            </span>
            <span class="link-text">substitution cipher</span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/match'" routerLinkActive="active-link">
            <span class="material-icons">
               widgets
            </span>
            <span class="link-text">mix match</span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/preference'" routerLinkActive="active-link">
            <span class="material-icons">
               assessment
            </span>
            <span class="link-text">preference polling</span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/readability'" routerLinkActive="active-link">
            <span class="material-icons">
               menu_book
            </span>
            <span class="link-text">reading level</span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/signature'" routerLinkActive="active-link">
            <span class="material-icons">
               gesture
            </span>
            <span class="link-text">signature generator</span>
         </a>
      </li>
   </ul>
</div>