@import '../../../../../assets/styles/variables.less';

#navigation {
   position: absolute;
   background-color: @color-yellow;
   z-index: 999;

   margin-top: 9%;
}


ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
}

li.nav-item {
   font-size: 24px;
   width: 100%; // keep icons in place

   &:last-child {
      margin-top: auto; // keep the last one at the bottom
   }
}

.nav-link {
   display: flex;
   align-items: center;
   height: 5rem;
   text-decoration: none;

   &:hover {
      background-color: @color-yellower;
   }

   &:active {
      color: @color-blurple;
   }

}


.material-icons {
   font-size: 36px;
   margin: 0 1.5rem;
   color: @color-darker;

   transform: rotate(0deg);
   transition: transform 0.3s ease;
}

.link-text {
   // display: none;
   margin-left: 1rem;

   color: @color-darker;
   text-transform: capitalize;
   font-family: @font-title;
   font-size: 24px;

   opacity: 0;
}





@media @desktop {

   #navigation {

      width: 5rem;
      transition: all 0.3s ease;

      &:hover {
         width: 15rem;

         .link-text {
            display: block;
            opacity: 1;
            transition: opacity 0.3s ease 0.3s;
         }
      }
   }

   .nav-item:hover {
      .material-icons {
         transform: rotate(-180deg);
      }
   }

   .nav-link.active-link {
      background-color: @color-green;
   }



}


@media @mobile {
   #navigation {
      display: none;
      // width: 100vw;
      // height: 3rem;

      // ul {
      //    flex-direction: row;
      // }


      // .link-text {
      //    display: none;
      // }

   }


   .material-icons {
      font-size: 21px;
      margin: 0;
   }

}