<div id="navigation">
   <ul>
      <li class="nav-item logo">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/'" routerLinkActive="active">
            <span class="link-text logo-text">
               welcome
            </span>
            <span class="material-icons">
               beach_access
            </span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/cipher'" routerLinkActive="active">
            <span class="material-icons">
               offline_bolt
            </span>
            <span class="link-text">hello</span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/match'" routerLinkActive="active">
            <span class="material-icons">
               highlight
            </span>
            <span class="link-text">hello</span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/preference'" routerLinkActive="active">
            <span class="material-icons">
               color_lens
            </span>
            <span class="link-text">hello</span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/readability'" routerLinkActive="active">
            <span class="material-icons">
               compare
            </span>
            <span class="link-text">hello</span>
         </a>
      </li>
      <li class="nav-item">
         <a href="#" class="nav-link" [routerLink]="'/overview/sandbox/signature'" routerLinkActive="active">
            <span class="material-icons">
               brightness_4
            </span>
            <span class="link-text">hello</span>
         </a>
      </li>
   </ul>
</div>