@import "../../../../assets/styles/variables.less";

@diameter: 80px;



.spacer {
   flex: 1;
}

/* toolbar */
.toolbar {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 120px;
   display: flex;
   align-items: center;
   background-color: #ffffff;
}

.toolbar img {
   width: 36px;
   margin: 0 24px 0 48px;
}

.toolbar span#yliang {
   color: @color-darker;
   font-size: 24px;
}

.toolbar span:not(#yliang) {
   font-size: 21px;
   padding: 0 12px;
   font-family: @font-title;
}

.toolbar span.work {
   color: @color-darker;
   font-weight: 600;
   letter-spacing: 1px;
}

.toolbar span.work#others {
   border-right: 1px solid @color-green;
   padding-right: 24px;
}

.toolbar span.info {
   color: @color-blurple;
}

.toolbar span.info#about {
   padding-left: 24px;
   padding-right: 24px;
}

.toolbar span.info#contact {
   padding: 6px 12px;
   border: 1px solid @color-green;
   border-radius: 6px;
   margin-right: 36px;
}

.toolbar span.info#contact:hover {
   box-shadow: 6px 6px 12px 0px @color-green;
}

.toolbar span:hover {
   cursor: pointer;
}
/* /toolbar */
